---
interface Props {
	title: string
	description: string
	canonicalUrl: string
	image?: string | null
	noindex?: boolean
}

const {
	title,
	description,
	canonicalUrl,
	image = null,
	noindex = false,
} = Astro.props
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalUrl} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalUrl} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{image && <meta property="og:image" content={image} />}
{image && <meta name="twitter:image" content={image} />}
{noindex && <meta name="robots" content="noindex, nofollow" />}
